<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!-- robot name parameter -->
  <xacro:arg name="name" default="ur"/>

  <group name="ur_manipulator">
    <joint name="base_link-base_link_inertia"/>
    <joint name="shoulder_pan_joint"/>
    <joint name="shoulder_lift_joint"/>
    <joint name="elbow_joint"/>
    <joint name="wrist_1_joint"/>
    <joint name="wrist_2_joint"/>
    <joint name="wrist_3_joint"/>
    <joint name="wrist_3-flange"/>
    <joint name="flange-tool0"/>
  </group>

  <end_effector name="ur_ee" parent_link="tool0" group="ur_manipulator"/>

  <disable_collisions link1="base_link" link2="base_link_inertia" reason="Adjacent" />
  <disable_collisions link1="base_link_inertia" link2="shoulder_link" reason="Adjacent" />
  <disable_collisions link1="tool0" link2="wrist_1_link" reason="Never" />
  <disable_collisions link1="tool0" link2="wrist_2_link" reason="Never" />
  <disable_collisions link1="tool0" link2="wrist_3_link" reason="Adjacent" />
  <disable_collisions link1="forearm_link" link2="upper_arm_link" reason="Adjacent" />
  <disable_collisions link1="forearm_link" link2="wrist_1_link" reason="Adjacent" />
  <disable_collisions link1="shoulder_link" link2="upper_arm_link" reason="Adjacent" />
  <disable_collisions link1="wrist_1_link" link2="wrist_2_link" reason="Adjacent" />
  <disable_collisions link1="wrist_1_link" link2="wrist_3_link" reason="Never" />
  <disable_collisions link1="wrist_2_link" link2="wrist_3_link" reason="Adjacent" />

</robot>
